[Interface]
Address = 10.0.0.1/24
SaveConfig = true
ListenPort = 51820
PrivateKey = SERVER_PRIVATE_KEY
PostUp = ufw route allow in on wg0 out on iface
PostUp = iptables -t nat -I POSTROUTING -o iface -j MASQUERADE
PreDown = ufw route delete allow in on wg0 out on iface
PreDown = iptables -t nat -D POSTROUTING -o iface -j MASQUERADE

[Peer]
PublicKey = CLIENT1_PUBLIC_KEY
AllowedIPs = 10.0.0.2/32

[Peer]
PublicKey = CLIENT2_PUBLIC_KEY
AllowedIPs = 10.0.0.3/32

[Peer]
PublicKey = CLIENT3_PUBLIC_KEY
AllowedIPs = 10.0.0.4/32

[Peer]
PublicKey = CLIENT4_PUBLIC_KEY
AllowedIPs = 10.0.0.5/32